.dark {
    background: #343434;
}

.dark-text {
    color: #2EE59D;
}

.red {
    background: #cd4e4e;
}

.red-text {
    color: whitesmoke;
}

.some {
    background: lightgreen;
}

.some-text {
    color: #000000;
}

.grey {
    background: #535353;
}

.grey-text {
    color: cornflowerblue;
}

.marin {
    background: #6370e3;
}

.marin-text {
    color: mediumaquamarine;
}