
.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(52, 52, 52, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    position: relative;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    padding: 20px;

    .modal__header {
      color: white;
      background: rgb(52, 52, 52);
      padding: 5px 10px;
    }

    .modal__body {
      padding: 5px 10px;
    }
  }
}