.blue {
    border-bottom: 5px solid #BDBDBDFF;
}
.blue:focus, .blue:focus:hover{
    border-bottom: 5px solid #2EE59D;
}
.blue:hover{
    border-bottom: 5px solid #2EE59D66;
}


.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testSpanError {
    color: blue;
}